body {
    font-family: Roboto, sans-serif;
  }
  
  .navbar {
    background-color: #3498db;
  }
  
  #header .nav .nav-link.active {
    background-color: #fff;
    color: #3498db;
  }
  
  #header .nav .nav-link,
  .navbar-brand,
  .navbar-brand:hover,
  .nav-products .nav-link.active:hover {
    color: #fff;
  }
  
  .section-title {
    font-family: Pacifico, cursive;
  }
  
  #about-us, #products {
    background-color: #f7f7f7;
  }
  
  .text-colored {
    color: #3498db;
  }
  
  .nav-products .nav-link.active,
  #contact button {
    background-color: #3498db;
    color: #fff;
  }
  
  .nav-products .nav-link:hover {
    color: #3498db;
  }
  
  .social-links li {
    list-style: none;
    display: inline;
  }
  
  .social-links a {
    text-decoration: none;
  }
  
  @media (max-width: 767px) {
    .carousel-item img {
      height: 280px;
    }
  }